.bannerHeader{
    background: url('../../assets/imgs/bg-hero.png') ;
    background-size: cover;
}
.advantages-faq{
    background: url('../../assets/imgs/bg-advantages.png') ;
    background-size: cover;    
}
