@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Outfit&family=Roboto&display=swap');

:root{
  --bg-color: #DEEEF520;
  --bg-color-2:#C7E7F4;
  --bg-color-footer: #DEEEF5;
  --bg-button-hero:#FFD54F;

  --font-color-white: #F4F4F4;
  --font-color-black: #000;
  --font-color-blue: #54C4F3;
  
  --font-color-title3: #54C4F3;

  

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}
.app .brand{
  font-family: 'Kanit', sans-serif;
}

h1,h2, h3,h4{
  font-family: 'Outfit', sans-serif;
} 
h1{
  font-size: 5rem;
}
h2{
  font-size: .87rem;
}
h3{
  font-size: 1.5rem;
}
